* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  max-width: 1440px;
  font-family: "Mulish", sans-serif;
}

body {
  margin-bottom: 300px;
}

.btn-perfect {
    border-radius: 0.5rem;
    background: #ff5400;
    color: #fff;
    text-align: center;
    font-size: 17.6px;
    font-weight: 800;
    border: none;
    padding: 12.32px 30.8px;
  }
/* -------------------------------------------- */









/* --------------- */
@media only screen and (max-width: 600px) {

    













}
