* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  max-width: 1440px;
  font-family: "Mulish", sans-serif;
}

body {
  margin-bottom: 300px;
}

/* -------------------------------------------- */

.destination-container {
    margin: 6.25rem 120px;
}











/* --------------- */
@media only screen and (max-width: 600px) {

    



    













}
