/* commom styles */
* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  max-width: 1440px;
  font-family: "Mulish", sans-serif;
}


body {
  margin-bottom: 300px;
}

.btn-primary {
  border-radius: 0.5rem;
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 800;
  border: none;
  padding: 14px 35px;
}

/* ----------header styles------------ */
/* ---------------nav styles------------ */
nav {
    margin: 3.25rem 7.5rem 0rem 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.logo-img-container{
    width: 40px;
    margin-left: 0px;
    margin-right: 1rem;
}
.logo-img-container img{
    width: 100%;
}
.nav-left h4{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    margin-left: 0px;
    margin-right: 0px;
    
  }
.nav-left span{
    color: #FF5400;
    margin-left: 10px;
}

.hamburger{
    display: none;
}

.nav-right{
    margin-right: 0px;
}


.nav-right ul{
    display: flex;
    align-items: center;

}
.nav-right li{
    list-style: none;
    margin-left: 35px;
    
    }
.nav-right a {
    text-decoration: none;
    color:#424247;
    font-size: 18px;
    
}

#home{
    color: #FF5400;
    font-weight: 700
}




/* -------------------banner styles------------ */
.banner-container {
  margin:3.25rem 7.5rem 6.25rem  7.5rem;
  height: 440px;
  /* border: 1px solid purple; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;

  background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Images/Group1311.png");
  background-repeat: no-repeat;
  background-position: bottom;

  
}

.banner-text-container {
  /* border: 1px solid red; */
  /* width: 60%; */
  width: 710px;
}
.banner-text-upper{
    text-align: center;
}

.banner-text-container h1 {
  color: #FFF;
  font-size: 3.52rem;
  font-weight: 800;
}

.banner-text-upper p {
  color: #FFF;
  text-align: center;
  line-height: 26px;
  margin-top: 1.32rem;
  margin-bottom: 2.64rem;
  width: 84%;
}

.banner-inputs {
  padding: 1rem 0.6rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.30);
  /* background-color: aquamarine; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.banner-inputs #banner-input,
#banner-when,
#banner-type {
  padding: 14px;
  border: none;
  border-radius: 8px;
  color: rgba(19, 19, 24, 0.50);
}


select {
  appearance: none;
  background-color: #fafafa;
  height: 45px;
  width: 100%;
  background-image: url("../Images/icons/downarrow.png");
  background-position: calc(100% - 8px) center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0;
}

.banner-inputs #banner-input,
#banner-when,
#banner-type,
.banner-btn {
  width: 22.5%;
  height: 46px;
}

.banner-btn {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    background: #ff5400;
    padding: 1rem;
    }
.banner-btn p{
    margin-top: 0px;
    margin-bottom: 0px;
    

}
.banner-btn img {
  margin-right: 8px;
}

/*---------------- main styles---------------------*/
/*----------------popular section------------------- */
.popular-container {
  margin: 6.25rem 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-text-container {
  margin-right: 3rem;
}

.popular-text-container h2 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}

.popular-text-container p,
ul {
  color: rgba(19, 19, 24, 0.7);
  line-height: 1.625rem;
}

.popular-text-container p {
  margin-top: 1.5rem;
  margin-bottom: 1.4rem;
}

.popular-text-container ul {
  width: 90%;
}
.popular-text-container li {
  margin-bottom: 1.4rem;
}

.popular-img-container,
.popular-img-container img {
  border-radius: 1rem;
}

/*--------------------destination styles--------------- */
.destination-container {
  margin: 6.25rem 120px;
}

.destination-text-container {
  text-align: center;
  width: 48%;
}

.destination-text-container h2 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.destination-text-container p {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
}

/* ---------------------why styles----------------------- */
.why-container {
  margin: 6.25rem 135px;
}

.why-upper {
  text-align: center;
  width: 55%;
  margin-bottom: 3rem;
}

.why-upper h2 {
  color: #131318;
  font-size: 2.5rem;
  font-weight: 800;
}
.why-upper p {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
  margin-top: 1.5rem;
}

.why-lower h4 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.why-lower p {
  color: #5a5a5d;
  line-height: 26px;
}

.why-hotel-map {
  display: flex;
}
.why-hotel-map > div {
  width: 49%;
}

.why-hotel,
.why-price {
  border-radius: 1rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px 55px 32px 32px;
}
.why-hotel {
  margin-left: 0px;
}

.why-service {
  border-radius: 1rem;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px 55px 32px 32px;
  margin-right: 0px;
}

.why-price-container {
  margin-top: 1.5rem;
}

.why-price {
  width: 49%;
  margin-right: auto;
  margin-left: auto;
}

/* ---------------newsletter styles------------- */
.newsletter-container {
  margin: 6.25rem 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletter-text-container {
  padding: 35px;
  border: 1px solid #ff5400;
  border-radius: 1rem;
  width: 40%;
  margin-left: 0px;
}

.newsletter-text-container h4 {
  color: #131318;
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.newsletter-text-container p {
  color: #5a5a5d;
  line-height: 26px;
  margin-bottom: 1.5rem;
}

.newsletter-text-container hr {
  height: 1px;
  border: none;
  margin: 0px;
  background-color: rgba(19, 19, 24, 0.1);
}

#newsletter-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#newsletter-form input,
#newsletter-form button {
  width: 100%;
}

#newsletter-form input {
  padding: 1rem 1.25rem;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  color: rgba(19, 19, 24, 0.3);
}
#name {
  margin-top: 1.5rem;
}

#email {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.newsletter-img-container {
  position: relative;
  width: 58%;

  background-image: url("../Images/Rectangle8n1.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-color: black;
  height: 410px;
  border-radius: 1rem;
  margin-right: 0px;
  margin-bottom: 0px;
}

.newsletter-offer {
  border-radius: 1rem;
  background-color: #ff5400;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  width: 310px;
  height: 110px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: rotate(-19.628deg);

  position: absolute;
  right: 10px;
  bottom: 55px;
}

.newsletter-offer h5 {
  font-size: 1.8rem;
  font-weight: 800;
}


/* -----------------footer styles------------------ */
footer{
    background: rgba(19, 19, 24, 0.05);
    height: 550px;

    display: flex;
    justify-content: center;
    align-items: center;

}
.footer-conents{
    width: 54%;
    text-align: center;
}

.footer-logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-img-cobtainer{
    width: 40px;
    margin-left: 0px;
    margin-right: 1rem;
}
.footer-img-cobtainer img{
    width: 100%;
}

.footer-logo-container h4{
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    margin-left: 0px;
    margin-right: 0px;
    
  }

  .footer-logo-container span {
    color: #FF5400;
    margin-left: 10px;
  }

.footer-conents p{
    color: #5A5A5D;
    line-height: 26px;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

.footer-social-links{
    margin-bottom: 3rem;
    width: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-conents hr{
    height: 1px;
    border: none;
    margin: 0px;
    background-color: rgba(19, 19, 24, 0.1);
}

#copyright {
    color: #131318;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-top: 3rem;

}


/* -----------------responsive styles------------------- */
/* ===================================================== */

/* -----------------mobile responsive------------------ */

@media only screen and (max-width: 600px) {
    /* nav */
    nav{
        margin: 1rem;
    }
    .nav-left h4 {
        font-size: 21.543px;
    }

    .logo-img-container{
        width: 28px;
        margin-right: 9px;
    }
    .logo-img-container img{
        width: 100%;
    }
    .nav-left span{
        margin-left: 5px;
    }
    .nav-right{
        display: none;
    }
    .hamburger{
        display: block;
        margin-right: 5px;
    }


    /* banner */
    .banner-container{
        margin: 1.5rem 1.25rem;

    }
    .banner-text-container {
        width: 100%;

    }
    .banner-text-upper{
        width: 90%;
    }
    .banner-text-container h1 {
        font-size: 22px;
    }
    .banner-text-upper p {
        line-height: 26px;
        margin-top: 10px;
        margin-bottom: 1.5rem;
        font-size: 14px;
        line-height: 21px;
      }
    .banner-inputs{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        /* margin: 24px; */
        width: 80%;
        padding-left: 5px;
        padding-right: 5px;
    }

  
    .banner-inputs #banner-input,
    #banner-when,
    #banner-type,
    .banner-btn {
        width: 80%;
        
    }
    .banner-btn{
        justify-content: center;
    }
    .banner-btn p, img {
        margin-left: 0px;
        margin-right: 0px;
    }

   
        


    /* popular */
  .popular-container {
    flex-direction: column;
    justify-content: center;
    gap: 34px;
    margin: 1.5rem 1.25rem;
  }
  .popular-text-container {
    margin-right: 0px;
  }
  .popular-text-container h2 {
    font-size: 1.25rem;
  }
  .popular-text-container p,
  ul {
    font-size: 14px;
  }
  .popular-text-container p {
    margin-top: 1rem;
  }

  .popular-text-container ul {
    margin-right: 0px;
    /* margin-left: ; */
  }
  .popular-text-container li {
    margin-bottom: 12px;
  }

  .popular-img-container {
    text-align: center;
  }
  .popular-img-container img {
    width: 100%;
  }

  /* why */
  .why-container {
    margin: 1.5rem 33px;
  }
  .why-upper {
    width: 100%;
  }
  .why-upper h2,
  .newsletter-text-container h4 {
    font-size: 1.25rem;
  }

  .why-hotel-map {
    flex-direction: column;
  }
  .why-hotel-map > div,
  .why-price {
    width: 100%;
  }

  .why-hotel {
    margin-bottom: 1rem;
  }

  .why-price-container {
    margin-top: 1rem;
  }

  .why-container p,
  .newsletter-text-container p {
    font-size: 14px;
    line-height: 24px;
  }
  .why-lower h4 {
    font-size: 1.25rem;
  }

  /* newsletter */
  .newsletter-container {
    flex-direction: column;
    margin: 1.5rem 1.25rem;
  }
  .newsletter-text-container,
  .newsletter-img-container {
    width: 100%;
  }

  .newsletter-offer {
    height: 75px;
    width: 210px;
    bottom: 15px;
  }

  .newsletter-offer p {
    font-size: 21.138px;
  }

  .newsletter-offer h5 {
    font-size: 15.854px;
  }
  .newsletter-img-container {
    background-position: center;
    margin-top: 1rem;
  }
  .newsletter-offer {
    bottom: 35px;
  }

  /* footer */
  footer{
    height: 375px;
  }
  .footer-conents{
    /* margin-left: 0px;
    margin-right: 0px; */
    width: 80%;
  }
  .footer-logo-container h4{
    font-size: 21.543px;
  }
  .footer-img-cobtainer{
     width: 28.724px;;
  }

  .footer-conents p{
    font-size: 14px;
    line-height: 24px;
    }


}
